<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bedfordshire</string>
		<key>population</key>
		<real>617000</real>
		<key>latitude</key>
		<real>52.083333</real>
		<key>longitude</key>
		<real>-0.416667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Bedfordshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Berkshire</string>
		<key>population</key>
		<real>863800</real>
		<key>latitude</key>
		<real>51.416667</real>
		<key>longitude</key>
		<real>-1</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Berkshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Buckinghamshire</string>
		<key>population</key>
		<real>756600</real>
		<key>latitude</key>
		<real>51.833333</real>
		<key>longitude</key>
		<real>-0.833333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Buckinghamshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cambridgeshire</string>
		<key>population</key>
		<real>806700</real>
		<key>latitude</key>
		<real>52.333333</real>
		<key>longitude</key>
		<real>0</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cambridgeshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cheshire</string>
		<key>population</key>
		<real>1028600</real>
		<key>latitude</key>
		<real>53.166667</real>
		<key>longitude</key>
		<real>-2.583333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cheshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cornwall</string>
		<key>population</key>
		<integer>536000</integer>
		<key>latitude</key>
		<real>50.3</real>
		<key>longitude</key>
		<real>-4.9</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cornwall</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cumberland</string>
		<key>population</key>
		<real>294303</real>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-3</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Cumberland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Derbyshire</string>
		<key>population</key>
		<real>1019500</real>
		<key>latitude</key>
		<real>53.133333</real>
		<key>longitude</key>
		<real>-1.6</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Derbyshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Devon</string>
		<key>population</key>
		<real>1135700</real>
		<key>latitude</key>
		<real>50.7</real>
		<key>longitude</key>
		<real>-3.8</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Devon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dorset</string>
		<key>population</key>
		<real>745400</real>
		<key>latitude</key>
		<real>50.833333</real>
		<key>longitude</key>
		<real>-2.333333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dorset</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Durham</string>
		<key>population</key>
		<real>902500</real>
		<key>latitude</key>
		<real>54.666667</real>
		<key>longitude</key>
		<real>-1.833333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/County_Durham</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Essex</string>
		<key>population</key>
		<real>1729200</real>
		<key>latitude</key>
		<real>51.75</real>
		<key>longitude</key>
		<real>0.583333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Essex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gloucestershire</string>
		<key>population</key>
		<real>861700</real>
		<key>latitude</key>
		<real>51.833333</real>
		<key>longitude</key>
		<real>-2.166667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Gloucestershire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hampshire</string>
		<key>population</key>
		<real>1322300</real>
		<key>latitude</key>
		<real>51.083333</real>
		<key>longitude</key>
		<real>-1.25</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hampshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Herefordshire</string>
		<key>population</key>
		<real>183600</real>
		<key>latitude</key>
		<real>52.083333</real>
		<key>longitude</key>
		<real>-2.75</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Herefordshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hertfordshire</string>
		<key>population</key>
		<real>1119800</real>
		<key>latitude</key>
		<real>51.9</real>
		<key>longitude</key>
		<real>-0.2</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Hertfordshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Huntingdonshire</string>
		<key>population</key>
		<real>169508</real>
		<key>latitude</key>
		<integer>52</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Huntingdonshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kent</string>
		<key>population</key>
		<real>1731400</real>
		<key>latitude</key>
		<real>51.19</real>
		<key>longitude</key>
		<real>0.73</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Kent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lancashire</string>
		<key>population</key>
		<real>1461400</real>
		<key>latitude</key>
		<real>53.8</real>
		<key>longitude</key>
		<real>-2.6</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Lancashire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leicestershire</string>
		<key>population</key>
		<real>980800</real>
		<key>latitude</key>
		<real>52.716667</real>
		<key>longitude</key>
		<real>-1.183333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Leicestershire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lincolnshire</string>
		<key>population</key>
		<real>1042000</real>
		<key>latitude</key>
		<real>53.066667</real>
		<key>longitude</key>
		<real>-0.183333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Lincolnshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Middlesex</string>
		<key>population</key>
		<real>1042000</real>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>-0.416667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Middlesex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norfolk</string>
		<key>population</key>
		<real>859400</real>
		<key>latitude</key>
		<real>52.666667</real>
		<key>longitude</key>
		<real>1</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Norfolk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Northamptonshire</string>
		<key>population</key>
		<real>693900</real>
		<key>latitude</key>
		<real>52.283333</real>
		<key>longitude</key>
		<real>-0.833333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Northamptonshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Northumberland</string>
		<key>population</key>
		<real>316300</real>
		<key>latitude</key>
		<real>55.166667</real>
		<key>longitude</key>
		<real>-2</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Northumberland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nottinghamshire</string>
		<key>population</key>
		<real>1090600</real>
		<key>latitude</key>
		<real>53.166667</real>
		<key>longitude</key>
		<real>-1</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Nottinghamshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oxfordshire</string>
		<key>population</key>
		<real>654800</real>
		<key>latitude</key>
		<real>51.75</real>
		<key>longitude</key>
		<real>-1.28</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Oxfordshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rutland</string>
		<key>population</key>
		<real>37600</real>
		<key>latitude</key>
		<real>52.65</real>
		<key>longitude</key>
		<real>-0.633333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Rutland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shropshire</string>
		<key>population</key>
		<real>473900</real>
		<key>latitude</key>
		<real>52.616667</real>
		<key>longitude</key>
		<real>-2.716667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Shropshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Somerset</string>
		<key>population</key>
		<real>910200</real>
		<key>latitude</key>
		<real>51.18</real>
		<key>longitude</key>
		<real>-3</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Somerset</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Staffordshire</string>
		<key>population</key>
		<real>1098300</real>
		<key>latitude</key>
		<real>52.833333</real>
		<key>longitude</key>
		<real>-2</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Staffordshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suffolk</string>
		<key>population</key>
		<real>730100</real>
		<key>latitude</key>
		<real>52.166667</real>
		<key>longitude</key>
		<real>-1</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Suffolk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Surrey</string>
		<key>population</key>
		<integer>1135500</integer>
		<key>latitude</key>
		<real>51.25</real>
		<key>longitude</key>
		<real>-0.416667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Surrey</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sussex</string>
		<key>population</key>
		<real>1609600</real>
		<key>latitude</key>
		<integer>51</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sussex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Warwickshire</string>
		<key>population</key>
		<real>546500</real>
		<key>latitude</key>
		<real>52.333333</real>
		<key>longitude</key>
		<real>-1.583333</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Warwickshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Westmorland</string>
		<key>population</key>
		<real>67180</real>
		<key>latitude</key>
		<real>54.527232</real>
		<key>longitude</key>
		<real>-3.016054</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Westmorland</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wiltshire</string>
		<key>population</key>
		<real>684000</real>
		<key>latitude</key>
		<real>51.333333</real>
		<key>longitude</key>
		<real>-1.916667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Wiltshire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Worcestershire</string>
		<key>population</key>
		<real>566500</real>
		<key>latitude</key>
		<real>52.2</real>
		<key>longitude</key>
		<real>-2.166667</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Worcestershire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yorkshire</string>
		<key>population</key>
		<real>5288200</real>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>-2</real>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Yorkshire</string>
	</dict>
</array>
</plist>
